<div class="section section01">
  <h1 class="sketchTitle" style="color: #000;">MaskEffect</h1>
  <p class="sketchDes" style="color: #000;"></p>
<!--  <video id="video" loop muted crossOrigin="anonymous" webkit-playsinline style="display:none">-->
<!--    <source src="/sketch/assets/resource/movie/space.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>-->
<!--  </video>-->
  <div>
    <canvas id="webgl-output"></canvas>
  </div>
</div>
