<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header id="header">

  <!--<h1 class="logo">-->
    <!--<a href="http://madamefigaro.jp/" class="blank">-->
      <!-- <img src="/assets/resource/svg/logo.svg" alt="" class=""> -->
      <%#- include('../../../resource/svg/logoHeader.svg'); %>
    <!--</a>-->
    <!--<p class="text">Promotion</p>-->
  <!--</h1>-->

  <!--<h2 class="subTit">-->
    <!--<a href="/" class="pjax">-->
      <%#- include('../../../resource/svg/logo01.svg'); %>
      <%#- include('../../../resource/svg/logo02.svg'); %>
    <!--</a>-->
  <!--</h2>-->

</header>