<!-- ************************************************************
//
//  menu
//
// ************************************************************ -->
<div id="menu">
<div class="menuInner">
  
  <div class="titWrap">
    <!--<img src="/assets/resource/img/common/menu/m_text02_sp.png" height="21" width="369" alt="" class="responsiveImg spSize">-->
    <!--<img src="/assets/resource/svg/logo01.svg" alt="">-->
    <!--<img src="/assets/resource/svg/logo03.svg" alt="">-->
    <!-- <p class="text text01">with Tiffany East West watch</p>
    <p class="text text02">
      TIFFANY & Co.&nbsp;&nbsp;<img src="/assets/resource/svg/x_b.svg" alt="">&nbsp;&nbsp;madame FIGARO.jp
    </p> -->
    <p class="text text01">
      <!--<img src="/assets/resource/img/common/menu/m_text01_sp.png" height="82" width="622" alt="" class="responsiveImg spSize">-->
    </p>
  </div>

  <!-- block -->
  <div class="block">
  <div class="inner">

    <ul class="menuList">
      <li class="item isActive">
        <a href="/" class="pjax pjaxTo_top">
          <span>Home</span>
          <div class="cover"><span>Home</span></div>
          <div class="bar"></div>
        </a>
      </li>
      <li class="item">
        <a href="/movie/" class="pjax pjaxTo_movie">
          <span>Movie</span>
          <div class="cover"><span>Movie</span></div>
          <div class="bar"></div>
        </a>
      </li>
      <li class="item">
        <a href="/interview/" class="pjax pjaxTo_interview">
          <span>Interview</span>
          <div class="cover"><span>Interview</span></div>
          <div class="bar"></div>
        </a>
      </li>
      <li class="item">
        <a href="/history/" class="pjax pjaxTo_history">
          <span>Watch & History</span>
          <div class="cover"><span>Watch & History</span></div>
          <div class="bar"></div>
        </a>
      </li>
    </ul>
    

    <div class="sns">
      <h3 class="tit">
        <a href="http://madamefigaro.jp/" class="blank">
        <%#- include('../../../resource/svg/menu/m_logo.svg'); %>
        </a>
        <div class="bar"></div>
      </h3>

      <ul class="row">
        <li class="item"><a class="blank" href="https://www.facebook.com/madameFIGARO.jp"><%#- include('../../../resource/svg/spMenu/fb.svg'); %></a></li>
        <li class="item"><a class="blank" href="https://twitter.com/madameFIGARO_jp"><%#- include('../../../resource/svg/spMenu/tw.svg'); %></a></li>
        <li class="item"><a class="blank" href="https://www.instagram.com/madamefigarojapon/"><%#- include('../../../resource/svg/spMenu/insta.svg'); %></a></li>
      </ul>
    </div>

    <p class="copy">
      COPYRIGHT SOCIETE DU FIGARO COPYRIGHT CCC Media House Co.,Ltd. <br>
      NO REPRODUCTION OR REPUBLICATION WITHOUT WRITTEN PERMISSION.
    </p>

  </div>
  </div>

</div>
</div>