<!-- ************************************************************
//
//  nav
//
// ************************************************************ -->
<div id="nav">
  
  <ul class="list">
    <!--<li class="item isActive"><a href="/" class="link link&#45;&#45;hover pjax" data-letters="Home">Home</a><div class="bar bar01"></div></li>-->
    <!--<li class="item"><a href="/movie/" class="link link&#45;&#45;hover pjax" data-letters="Movie">Movie</a><div class="bar bar02"></div></li>-->
    <!--<li class="item"><a href="/interview/" class="link link&#45;&#45;hover pjax" data-letters="Interview">Interview</a><div class="bar bar03"></div></li>-->
    <!--<li class="item"><a href="/history/" class="link link&#45;&#45;hover pjax" data-letters="Watch & History">Watch & History</a><div class="bar bar04"></div></li>-->
  </ul>

</div>