@charset 'UTF-8';
/* --------------------------------------------------------------------------------
*
*   easing
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   prefix
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   font-size対応表
*
-------------------------------------------------------------------------------- */
/*  ================================================================================
Base font = 12px
================================================================================ */
/* ================================================================================
Base font = 13px
================================================================================ */
/* ================================================================================
Base font = 15px
================================================================================ */
/* ================================================================================
Base font = 16px
================================================================================ */
/* --------------------------------------------------------------------------------
*
*   mixin
*
-------------------------------------------------------------------------------- */
/*
  *
  *   how to
  *
  */
/* --------------------------------------------------------------------------------
*
*   transform
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   transition
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   animation
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   media query
*
-------------------------------------------------------------------------------- */
/*
    *
    *   how to   
    *
    */
/* --------------------------------------------------------------------------------
*
*   portrait,landscape
*
-------------------------------------------------------------------------------- */
/*
  *
  *   how to
  *
  */
/* --------------------------------------------------------------------------------
*
*   function
*
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
*
*   common
*
-------------------------------------------------------------------------------- */
/*
*
*   how to
*
*/
/*
*
*   font
*
*/
/*
 *
 *   web font   
 *
 */
body
{
    margin: 0;
    padding: 0;

    border: none;
}

/* image */
img,
div,
p,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
textarea
{
    font-size: 100%;
    font-weight: normal;
    font-style: normal;

    margin: 0;
    padding: 0;

    list-style: none;

    text-decoration: none;

    border: 0;
}

a
{
    cursor: pointer;
}

table
{
    font-size: 100%;
}

hr.separator
{
    display: none;
}

input,
button,
select,
textarea
{
    resize: none;

    border: none;
    border-radius: 0;
    outline: none;
    background-color: transparent;

    -webkit-appearance: none;
}

img
{
    vertical-align: bottom;
}

html
{
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;

    counter-reset: number 0;

    background-color: #fff;
}

canvas
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#top h1
{
    font-weight: bold;

    margin-top: 20px;
    margin-left: 20px;
}

#top h2
{
    margin: 20px 0 10px 20px;
}

#top .link_list
{
    margin-left: 20px;
}

#top .link_list li
{
    margin-bottom: 5px;
}

#top .link_list li:before
{
    /* number カウンタの増加数をセット */
    content: '0' counter(number) '. ';
    counter-increment: number 1;
    /* 表示形式を指定 */
}

#textureBg
{
    overflow: hidden;

    min-height: 100%;
    margin: 0;

    background-color: #1f1f1f;
}

#textureBg canvas
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
