<div class="section section01">
  <h1 class="sketchTitle" style="color: #000;">Dissolve</h1>
  <p class="sketchDes" style="color: #000;">Dissolve for GLSL</p>
  <div>
    <canvas id="webgl-output"></canvas>
  </div>

</div>